body{
    background-color: rgba(203, 255, 196, 0.425)
}
h1{
    color: rgb(117, 4, 13)
}
h2{
    color: rgb(0, 48, 153)
}
h3{
    color: rgb(19, 0, 14)
}

h4{
    color: rgb(134, 180, 5)
}

p{
    text-align:center
}

h1{
    text-align:center
}

h2{
    text-align:center;
}

h3{
    text-align:center;
}

H4{
    text-align: center;
}

p{
    font-size:30px
}

.megumi-fushiguro{
    height: 400px;
width: 600px;
}

.mateus{
    height: 350px;
width: 600px;
}

.guilherme{
    height: 300px;
width: 600p
}

.marcos{
    height: 300px;
width: 600p
}

